@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="container">

<h4>Add a new machine to the database:</h4>
<hr />
@using (Html.BeginForm())
{
  <p>Name: @Html.TextBoxFor(model => model.Name)</p>
  <hr />
  <p>Since when is this machine working?</p>
  @Html.EditorFor(model => model.WorkingSince)
  <hr />
  <p>Assign this machine to an engineer,<br> if there are any in the database already:</p>
  
  @* @if(@Model.JoinEntities.Count == 0)
  {
    <p>There isn't any engineers in the database yet!</p>
  } *@
  
    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")<br>

  <input type="submit" value="Add new machine" class="btn btn-primary" />
}
<hr />
<p>@Html.ActionLink("Show all machines", "Index")</p>

</div>
